
Untitled.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.vscode/settings.json
data_elaboration/__pycache__/__init__.cpython-39.pyc
data_elaboration/__pycache__/leaderboard_comparison.cpython-39.pyc
data_elaboration/__pycache__/leaderboard.cpython-39.pyc
data_elaboration/__pycache__/results.cpython-39.pyc
matches_data_download/__pycache__/__init__.cpython-39.pyc
matches_data_download/__pycache__/seriea.cpython-39.pyc
.gitignore
